/* 
    Created on : 18 sept 2023, 19:53:43
    Author     : Adrián Chavarría
*/

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: sans-serif;
    background-color: whitesmoke;
}

header{
    background-color: blue ;
    width: 100%;
    height: 80px;
    position: fixed;
    top:0;
    left:0;
}

aside{
    position: fixed;
    top: 80px;
    left: 0px;
    background-color: #e3c583;
    bottom: 20px;
    width: 20%;
}

section{
    overflow-y: scroll;
    position: fixed;
    background-color: beige;
    top:80px;
    left:20%;
    bottom:20px;
    width: 80%;
}

footer{
    position: fixed;
    left: 0;
    bottom:0;
    height: 20px;
    width: 100%;
    text-align: center;
    background-color: activeborder;
    color:red;
}

h1{
    text-align: center;
    Color: navy;
}

h1,h2,h3{
    font-family: cursive;
}

p{
    color:navy;
    word-spacing: 4mm;
}

p span{
    color:red;
}

/*a{
    text-decoration:none;
    background-color: green;
    color: white;
}

a:hover{
    background-color: black;
    color: white;
}

a:visited{
    background-color: green;
    color: white;
}*/

table{
    width: 90%;
}
/*
tbody tr:nth-child(odd){
  background-color: blue;  
  color:white;
}

tbody tr:nth-child(even){
  background-color: black; 
  color:white;
}
*/
.celdaCentrada{
    text-align: center;
}

.celdaDerecha{
    text-align: right;
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link{
    color:white;
    text-decoration: none;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-link{
    font-size: 18px;
    margin: 0 10px;
    line-height: 90px;
    width: max-content;
}

.nav-menu-link:hover{
    background-color: #024070;
    transition: 0.5s;
}

.nav-menu-link{
    padding:8px 12px;
    border-radius: 10px;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 90px;
}